<header>
  <div class="logo">
    <a href="{{ site.baseurl }}/">RFCC</a>
  </div>
  <!-- <nav class="static-pages">
    <div class="nav-dropdown">
      <a class="nav-dropdown-button">The Club</a>
      <div class="nav-dropdown-content">
        <a href="/about">About</a>
        <a href="/membership">Membership</a>
        <a href="/newresidents">New Residents</a>
        <a href="/donate">Donate</a>
        <a href="/join">Join</a>
      </div>
    </div>
    <a href="/borough">Borough Information</a>
    <a href="/community">Community Facilities</a>
  </nav> -->
</header>
