// Main layout styles

.content {
  margin: 0 auto;
  max-width: $content-width;
}

header {
  height: 70px;

  a {
    line-height: 70px;
  }

  nav {
    height: inherit;

    &.static-pages {
      float: right;

      a {
        display: inline-block;
        margin: 0 5px;
      }

      .nav-dropdown {
        display: inline-block;

        .nav-dropdown-content {
          display: none;
          position: absolute;
          z-index: 1;
          background-color: #666;

          a {
            display: block;
            line-height: normal;
          }
        }

        &:hover {
          .nav-dropdown-content {
            display: block;
          }
        }
      }
    }
  }
}
